.edit-page-container {
  #back-btn {
    position: absolute;
    top: 0;
  }
}

#help {
  position: fixed;
  top: 0;
  right: 0;
  background-color: $orange1;
  margin: $small;
  font-family: $main-text;
  border-radius: 50px;
  font-size: $medium;
  padding: $small $medium;
  cursor: pointer;
  transition: transform 0.2s ease;
  &:hover {
    transform: scale(1.1);
  }
  // min-width: 200px;
}

#edit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: $larger;
  fieldset {
    width: 100%;
    margin-bottom: $medium;
    font-family: $main-text;
    label,
    input {
      font-family: $main-text;
      font-size: $medium;
      padding: $smallest;
      margin: $smallest;
    }
    input[type="text"],
    input[type="url"],
    input[type="file"] {
      border-radius: 5px;
      border: 1px solid $teal1;
    }
    textarea {
      border-radius: 5px;
      border: 1px solid $teal1;
      max-height: $godzilla;
      font-family: $main-text;
      font-size: $medium;
      padding: $smallest;
      margin: $smallest;
    }
    h4 {
      font-size: $mediumish;
      font-weight: 500;
      margin-bottom: $small;
    }
  }
}

.q-category {
  padding: $medium;
  width: 90vw;
}
#basic-info-section {
  padding: $medium;
  width: 90vw;
  h2 {
    margin-bottom: 0;
  }
  h4 {
    margin: $medium;
  }
  #basic-first {
    margin-top: 0;
  }
  input {
    min-width: 60%;
  }
  textarea {
    min-width: 60%;
  }
}

.text-input-section {
  textarea {
    width: calc(100% - 0.5rem);
  }
}

.upload-section {
}

.checkbox-section {
}

.dropdown-section {
  h5 {
    font-weight: 500;
    margin-bottom: $smallest;
  }
  .dropdown-selected {
    display: flex;
    flex-wrap: wrap;
    li {
      padding: $small;
      background-color: $turqoise1;
      color: $white;
      margin: $smallest;
      border-radius: 5px;
    }
  }
  .dropdown-btn {
    background-color: $teal1;
    font-family: $main-text;
    font-size: $medium;
    color: $white;
    padding: $smallest;
    width: 16rem;
    border-radius: 5px;
    margin-bottom: $smallest;
  }
  .dropdown:hover .select-items {
    display: block;
  }
  .select-items {
    display: none;
    position: absolute;
    background-color: $turqoise1;
    width: 16rem;
    max-height: 60vh;
    overflow-y: scroll;
  }
  .dropdown {
    width: 16rem;
    ul {
      border-radius: 5px;
    }
    li {
      width: 16rem;
      padding: $small;
      background-color: $white;
      &:hover {
        background-color: $orange1;
      }
    }
  }
}

.video-add {
  input {
    min-width: 60%;
  }
}

.link-section {
  label {
    padding: $smallest;
    margin: $smallest;
  }
  input[type="text"],
  input[type="url"] {
    min-width: 30%;
  }
}

#add-submit-btn {
  position: relative;
  top: auto;
  right: auto;
  padding: $small;
  font-family: $main-text;
  font-size: $mediumish;
  margin-bottom: $larger;
  border-radius: 50px;
  border: 1px solid $grey1;
  cursor: pointer;
  transition: transform 0.2s ease;
  &:hover {
    transform: scale(1.1);
  }
}
