.edit-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 150px;
  #back-btn {
    position: fixed;
    top: 0;
    left: 0;
  }
  #help-btn {
    position: fixed;
    top: 0;
    right: 0;
    transition: transform 0.2s ease;
    // background-color: $orange1;
    // margin: $small;
    // font-family: $main-text;
    // border-radius: 50px;
    // font-size: $medium;
    // padding: $small $medium;
    // cursor: pointer;
    // transition: transform 0.2s ease;
    // &:hover {
    //   transform: scale(1.1);
    // }
    // min-width: 200px;
  }
  #help-btn:hover:after {
    content: "Help";
  }
}

#edit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: $larger;
  fieldset {
    width: 100%;
    margin-bottom: $medium;
    font-family: $main-text;
    label,
    input {
      font-family: $main-text;
      font-size: $medium;
      padding: $smallest;
      margin: $smallest;
    }
    input[type="text"],
    input[type="url"],
    input[type="file"] {
      border-radius: 5px;
      border: 1px solid $teal1;
    }
    textarea {
      border-radius: 5px;
      border: 1px solid $teal1;
      max-height: $godzilla;
      font-family: $main-text;
      font-size: $medium;
      padding: $smallest;
      margin: $smallest;
    }
    h4 {
      font-size: $mediumish;
      font-weight: 500;
      margin-bottom: $small;
    }
  }
}

.cat-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#toggle-button {
  justify-self: flex-end;
  border: none;
  background: none;
  cursor: pointer;
  transition: transform 0.2s ease;
  // transition: transform ease 0.2s forwards;
}
// #toggle-button.rotate {
//   transform: rotate(180deg);
// }
#toggle-button:hover {
  transform: scale(1.1);
}
#toggle-button:focus {
  outline: none;
}

.q-category {
  padding: $medium;
  width: 90vw;
  border-bottom: 2px $turqoise1 solid;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  max-height: 100px;
  h2 {
    margin-bottom: $large;
  }
}
#basic-info-section {
  // padding: $medium;
  width: 90vw;
  h4 {
    margin: $medium;
  }
  #basic-first {
    margin-top: 0;
  }
  input {
    min-width: 60%;
  }
  textarea {
    min-width: 60%;
  }
}

.q-category.expand {
  max-height: 2000px;
}

.text-input-section {
  textarea {
    width: calc(100% - 0.5rem);
  }
}

.upload-section {
}

.checkbox-section {
}

.dropdown-section {
  h5 {
    font-weight: 500;
    margin-bottom: $smallest;
  }
  .dropdown-selected {
    display: flex;
    flex-wrap: wrap;
    li {
      padding: $small;
      background-color: $turqoise1;
      color: $white;
      margin: $smallest;
      border-radius: 5px;
      // .close-icon {
      //   width: 15px;
      //   margin: 0;
      // }
    }
    li::after {
      content: " \2715";
      // background-image: url(../../assets/closebtn.png);
      // width: 30px;
      // height: 30px;
    }
  }
  .dropdown-btn {
    background-color: $teal1;
    font-family: $main-text;
    font-size: $medium;
    color: $white;
    padding: $smallest;
    width: 16rem;
    border-radius: 5px;
    margin-bottom: $smallest;
  }
  .dropdown:hover .select-items {
    display: block;
  }
  .select-items {
    display: none;
    position: absolute;
    background-color: $turqoise1;
    width: 16rem;
    max-height: 60vh;
    overflow-y: scroll;
  }
  .dropdown {
    width: 16rem;
    ul {
      border-radius: 5px;
    }
    li {
      width: 16rem;
      padding: $small;
      background-color: $white;
      &:hover {
        background-color: $orange1;
      }
    }
  }
}

.video-add {
  input {
    min-width: 60%;
  }
}

.link-section {
  label {
    padding: $smallest;
    margin: $smallest;
  }
  input[type="text"],
  input[type="url"] {
    min-width: 30%;
  }
  h5 {
    font-weight: 500;
    margin-top: $medium;
  }
  #add-link-list {
    margin: $small 0 $medium 0;
    li {
      padding: $smallest;
    }
  }
  #add-link-btn {
    padding: $smallest $small;
    font-family: $main-text;
    font-size: $medium;
    border-radius: 50px;
    border: 1px solid $grey1;
    cursor: pointer;
    transition: transform 0.2s ease;
    &:hover {
      transform: scale(1.1);
    }
  }
}

#add-submit-btn {
  position: fixed;
  top: 0;
  padding: $small $mediumish $small $mediumish;
  font-family: $main-text;
  font-size: $mediumish;
  margin: $small;
  border-radius: 50px;
  background-color: $orange1;
  cursor: pointer;
  transition: transform 0.2s ease;
  box-shadow: $dat-big-shadow;
  &:hover {
    transform: scale(1.1);
    border: 1px solid $orange1;
    color: white;
  }
}

.save-success {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  // padding: $medium;
  .success-header {
    padding: $mediumish;
    background-color: $teal1;
    color: $js-grey;
    border-radius: 5px;
    border: 1px solid $teal1;
    box-shadow: $dat-big-shadow;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
