body {
  overflow-x: hidden;
}

.form-div {
  width: 50vw;
  min-width: 250px;
  height: 400px;
  position: absolute;
  top: calc((100vh - 400px) / 2);
  border-radius: 2rem;
  box-shadow: 0px 4px 8px gray;
  border: 4px $teal1 solid;
  padding: 1rem;
  box-sizing: border-box;
}

.outer-left {
  background-color: $turqoise1;
  transform: translateX(-100vw) scale(0.3);
  transition-duration: 1s;
  visibility: hidden;
}

.left {
  background-color: $turqoise1;
  transition-duration: 0.5s;
  transform: translateX(-25vw) scale(0.8);
  opacity: 0.5;
}

.focus {
  background-color: $turqoise1;
  transition-duration: 0.5s;
  transform: translateX(25vw);
  z-index: 2;
}

.right {
  background-color: $turqoise1;
  transition-duration: 0.5s;
  transform: translateX(75vw) scale(0.8);
  opacity: 0.5;
}

.outer-right {
  background-color: $turqoise1;
  transform: translateX(125vw);
  transition-duration: 1s;
  visibility: hidden;
}

.arrow {
  width: 50px;
  position: absolute;
  top: calc((100vh - 50px) / 2);
  z-index: 10;
}

.back-arrow {
  left: 15vw;
}

.forward-arrow {
  right: 15vw;
}

#form {
  display: flex;
  align-items: center;
}

.form-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  label {
    margin-bottom: $large;
    text-align: center;
  }
  textarea {
    resize: none;
    height: $largerer;
  }
  input {
    height: $large;
  }
  input, textarea {
    width: 80%;
    border-radius: $medium;
    border: none;
    padding: $small;
    font-size: $mediumish;
    font-family: $main-text;
  }
}

input:focus, textarea:focus {
  outline: $orange1 2px solid;
}

#carousel-submit-btn {
  font-size: $mediumish;
  background-color: $orange1;
  color: white;
  min-width: 100px;
  position: absolute;
  top: calc((100vh - 40px) / 2);
  right: 10vw;
}

.error {
  background-color: $orange1;
  border-radius: 50px;
  color: $white;
  font-size: $font-h3;
  margin-top: $medium;
  padding: $small;
  position: absolute;
  top: calc((100vh - 400px) / 4);
  left: 25vw;
  width: 50vw;
  min-width: 250px;
  text-align: center;
}

.hidden {
  visibility: hidden;
  // need to make this accessible
}

.progress-circles-div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  position: absolute;
  left: calc((100vw - 180px) / 2);
  bottom: calc((100vh - 400px) / 4);

  .progress-circle {
    transition-duration: 0.5s;
    height: 20px;
    width: 20px;
    border: 3px solid $grey1;
    padding: 5px;
    border-radius: 50%;
    margin: 5px;
  }
  .filled {
    background-color: $grey1;
  }
}
