.edit-page-container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}

.contact-hilary {
  position: fixed;
  max-width: 900px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: $white;
  width: 90%;
  border-radius: 5px;
  box-shadow: 0 5px 100px 0 rgba(0, 0, 0, 0.4);
  
  .heading-banner-contact {
    background: $grey1;
    color: white;
    border-radius: 5px 5px 0 0;
    h1 {
      border-radius: 5px;
      padding: 50px 0;
      margin: 0;
    }
  }
  > p {
    padding: 40px 10vw 20px;
    margin: 0;
  }
  #sleuth-info {
    display: flex;
    padding: 0 10vw 40px;

    .contact-section,
    .sleuth-link-section {
      width: 50%;
      height: 50%; 
    }
    .contact-section {
      h4 {
        margin: 8px 0;
        font-size: $mediumish;
      }
    }

    .sleuth-link-section {
      transition: transform 0.2s ease;
      a {
        font-family: $main-text;
        font-size: $mediumish;
        color: $black;
        cursor: pointer;
        text-decoration: none;
        &:hover,
        &:focus {
          color: $orange1;
        }
        &:active {
          color: $teal1;
        }
      }
      .sleuth-profile-links {
        margin-top: $medium;

        img {
          margin-right: $medium;
          transition: transform 0.2s ease;
          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}
