.contact-hilary {
  position: fixed;
  left: 0;
  background-color: $js-grey;
  width: 90%;
  margin: 10% 5%;
  // padding: $medium;
  border-radius: 5px;
  border: 1px solid $teal1;
  box-shadow: $dat-big-shadow;
  h1 {
    margin-top: $large;
  }
  p {
    padding: $medium;
  }
}
