@import url('https://fonts.googleapis.com/css?family=K2D:100,200,300,400,500,600,700,800|Quicksand:300,400,500,700|Roboto:100,100i,300,400,500,700,900');

// Must be in capitals!
$title-text: 'Roboto', sans-serif;
$main-text: 'Quicksand', sans-serif;
$header-text: 'K2D', sans-serif;
