.profile-content-wrapper {
  // width: 70vw;
  // Commented the above out to temporarily fix issues with scrollIntoView()
  margin-left: 30vw;
  box-sizing: border-box;
  padding: 0;
}

.profile-block {
  background: white;
  padding: 20px;
  border-radius: 20px;
  margin: $medium;
  box-shadow: $dat-drop-shadow;
  display: inline-block;
  margin-bottom: 0;
  h3 {
    margin-top: 0;
  }
}

.file_upload {
  display: inline-flex;
  flex-flow: column nowrap;
}
.download-badge {
  display: inline-flex;
  align-items: center;
  background-color: $js-grey;
  border-radius: 40px;
  color: $js-grey;
  font-size: $mediumish;
  text-decoration: none;
  color: $teal1;
  padding-right: 30px;

  .icon-wrapper {
    background-color: $teal1;
    border-radius: 50%;
    margin-right: 20px;
  }
  img {
    width: 70px; height: 70px;
    padding: 15px;
  }
}

.star-badge {
  display: inline-flex;
  align-items: center;
  width: auto;
  margin-bottom: 0;
  border: 2px solid $turqoise1;
  h3 {
    margin: 0;
    font-size: $mediumish;
    margin-right: 8px;
  }
  img {
    height: $large;
    width: $large;
    margin-right: 10px;
  }
}

.tagged-list {
  ul {
    display: flex;
  }
  .tag {
    margin: 5px;
    background: $teal1;
    padding: 10px;
    color: $js-grey;
    border-radius: 5px;
  }
}

.header {
  width: 30vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $turqoise1;
  color: white;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
  justify-content: center;

  #logo-div {
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.3);
    min-height: 160px;
    min-width: 160px;
    margin: 40px;
    box-shadow: $dat-drop-shadow;
  }

  h1 {
    font-size: $larger;
  }

  h2,
  h1 {
    word-wrap: break-word;
    max-width: 28vw;
  }
}

.profile-links {
  li {
    padding: 10px;
    font-family: $main-text;
    font-weight: 600;
    font-size: $mediumish;
    margin-bottom: $small;
  }
}

.contact {
  display: inline-block;
  .label-text {
    text-transform: uppercase;
    color: $grey1;
    font-size: $small-medium;
  }
}

.link-component {
  text-decoration: none;
  max-width: 28vw;
}

#add-content-btn {
  background: $grey1;
  color: white;
  border: 2px solid white;
  font-size: $medium;
  padding: 5px 15px 5px 5px;
  display: block;
  border-radius: 20px;
  font-family: $main-text;
  display: flex;
  align-items: center;
  width: 100%;
  box-shadow: $dat-drop-shadow;
  img {
    margin-right: 20px;
    height: $large;
  }
  &:hover {
    color: $red1;
  }
}

.category {
  min-height: 75vh;
  padding-right: $medium;
  padding-top: $small;
  p {
    line-height: 1.2rem;
  }
}

.category > h2 {
  background: $turqoise1;
  width: 50%;
  border-radius: 0 $medium $medium 0;
  padding: $small;
  color: $white;
  margin-bottom: $font-h3;
}

.profile-links > li:hover {
  cursor: pointer;
  color: $grey1;
  border-radius: 15px;
  box-shadow: inset 0 0 0 2px $teal1;
  transition: box-shadow 0.15s ease-in-out;
}

img {
  max-width: 100%;
}
