.header {
  width: 30vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $turqoise1;
  color: white;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;

  #logo-div {
    border-radius: 50%;
    // background: rgba(0, 0, 0, 0.3);
    width: 60%;
    margin: 1rem;
    // box-shadow: $dat-drop-shadow;

    img {
      border-radius: 50%;
      background: rgba(0, 0, 0, 0.3);
    }
  }
  h1 {
    font-size: $larger;
    margin-top: $large;
  }

  h2,
  h1 {
    word-wrap: break-word;
    max-width: 28vw;
  }
  #comp-link {
    font-size: $mediumish;
    margin: 0;
  }
  a {
    text-decoration: none;
    color: white;
    &:hover {
      color: $teal1;
    }
  }
}

.profile-links {
  li {
    padding: 10px;
    font-family: $main-text;
    font-weight: 600;
    font-size: $mediumish;
    margin-bottom: $small;
    transition: all 0.2s ease-in-out;
  }
}

.profile-links > li:hover {
  cursor: pointer;
  color: $grey1;
  border-radius: $large;
  box-shadow: inset 0 0 0 2px $teal1;
}

.link-component {
  text-decoration: none;
  max-width: 28vw;
}

#add-content-btn {
  background: $grey1;
  color: white;
  border: 2px solid white;
  font-size: $medium;
  padding: 5px 15px 5px 5px;
  display: block;
  border-radius: 20px;
  font-family: $main-text;
  display: flex;
  align-items: center;
  width: 100%;
  box-shadow: $dat-drop-shadow;
  img {
    margin-right: 20px;
    height: $large;
  }
  &:hover {
    color: $turqoise1;
    font-weight: 500;
  }
}

.profile-content-wrapper {
  // width: 70vw;
  // Commented the above out to temporarily fix issues with scrollIntoView()
  margin-left: 30vw;
  box-sizing: border-box;
  padding: 0;
}

.category {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  p {
    line-height: 1.3rem;
  }
}

.contact {
  &.category {
    min-height: 20vh;
  }
  .label-text {
    font-weight: 400;
    font-size: $mediumish;
    text-transform: uppercase;
    color: $grey1;
    margin: $mediumish 0 0 0;
  }
  .vert-center {
  }
}

.label-text:first-child {
  margin: 0;
}

.vert-center > h2 {
  background: $turqoise1;
  width: 50%;
  border-radius: 0 $large $large 0;
  padding: $small;
  color: $white;
  margin-bottom: $large;
}

.profile-block {
  background: white;
  padding: 20px;
  border-radius: 20px;
  margin: $medium $larger $mediumish $larger;
  box-shadow: $dat-big-shadow;
  display: inline-block;
  min-width: 60%;
  margin-bottom: 0;
  h3 {
    margin-top: 0;
  }
}

.star-badge {
  display: inline-flex;
  align-items: center;
  width: auto;
  margin-bottom: 0;
  border: 2px solid $turqoise1;
  h3 {
    margin: 0;
    font-size: $mediumish;
    margin-right: 8px;
  }
  img {
    height: $large;
    width: $large;
    margin-right: 10px;
  }
}

.file_upload {
  display: inline-flex;
  flex-flow: column nowrap;
}
.download-badge {
  display: inline-flex;
  align-items: center;
  background-color: $js-grey;
  border-radius: 40px;
  color: $js-grey;
  font-size: $mediumish;
  text-decoration: none;
  color: $teal1;
  padding-right: 30px;

  .icon-wrapper {
    background-color: $teal1;
    border-radius: 50%;
    margin-right: 20px;
  }
  img {
    width: 70px;
    height: 70px;
    padding: 15px;
  }
}

.tagged-list {
  ul {
    display: flex;
  }
  .tag {
    margin: 5px;
    background: $teal1;
    padding: 10px;
    color: $js-grey;
    border-radius: 5px;
  }
}

.link-list {
  #eye-icon {
    width: 30px;
    height: 30px;
    margin: 6px;
    border-radius: 50%;
  }
  #links {
    display: flex;
    align-items: center;

    border-radius: 20px;
    margin: $smallest;
    box-shadow: $dat-big-shadow;
    cursor: pointer;
    transition: transform 0.2s ease;
    p {
      margin: 0;
    }
    a {
      color: $black;
      text-decoration: none;
    }
    &:hover,
    &:focus {
      transform: scale(1.025);
      a {
        color: $orange1;
      }
    }
  }
}

img {
  max-width: 100%;
}
