@import "_colors";
@import "fonts";
@import "sizes";
@import "reset";
@import "carousel";
@import "profile";
@import "landing-page";
@import "discovery-page";
@import "add-page";
@import "contact-hilary";
@import "login-page";

* {
  box-sizing: border-box;
}

body {
  font-family: $main-text;
  font-size: medium;
  color: $black;
  background-color: $js-grey;
  padding: $small;
}

h1 {
  font-family: $title-text;
  font-size: $largerer;
  font-weight: 100;
  margin-bottom: $medium;
  text-align: center;
}

h2 {
  font-family: $main-text;
  font-size: $large;
  font-weight: 400;
  margin-bottom: $medium;
  margin-top: $medium;
}

h3 {
  font-family: $main-text;
  font-size: $font-h3;
  font-weight: 600;
  margin-bottom: $medium;
}

p {
  font-family: $main-text;
  margin-bottom: $small;
}

#home-btn,
#back-btn,
#eye-icon {
  width: 60px;
  background-color: transparent;
  border: none;
  padding: 6px;
  position: fixed;
  z-index: 2;
  cursor: pointer;
  transition: transform 0.2s ease;
  &:hover {
    transform: scale(1.1);
  }
}

.default-btn {
  font-family: $main-text;
  border-radius: 50px;
  font-size: $font-h3;
  padding: $small $medium;
  min-width: 200px;
}
