@import url("https://fonts.googleapis.com/css?family=K2D:100,200,300,400,500,600,700,800|Quicksand:300,400,500,700|Roboto:100,100i,300,400,500,700,900");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  overflow-x: hidden;
}

.form-div {
  width: 50vw;
  min-width: 250px;
  height: 400px;
  position: absolute;
  top: calc((100vh - 400px) / 2);
  border-radius: 2rem;
  box-shadow: 0px 4px 8px gray;
  border: 4px #3c5e5d solid;
  padding: 1rem;
  box-sizing: border-box;
}

.outer-left {
  background-color: #6ab8af;
  transform: translateX(-100vw) scale(0.3);
  transition-duration: 1s;
  visibility: hidden;
}

.left {
  background-color: #6ab8af;
  transition-duration: 0.5s;
  transform: translateX(-25vw) scale(0.8);
  opacity: 0.5;
}

.focus {
  background-color: #6ab8af;
  transition-duration: 0.5s;
  transform: translateX(25vw);
  z-index: 2;
}

.right {
  background-color: #6ab8af;
  transition-duration: 0.5s;
  transform: translateX(75vw) scale(0.8);
  opacity: 0.5;
}

.outer-right {
  background-color: #6ab8af;
  transform: translateX(125vw);
  transition-duration: 1s;
  visibility: hidden;
}

.arrow {
  width: 50px;
  position: absolute;
  top: calc((100vh - 50px) / 2);
  z-index: 10;
}

.back-arrow {
  left: 15vw;
}

.forward-arrow {
  right: 15vw;
}

#form {
  display: flex;
  align-items: center;
}

.form-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.form-text label {
  margin-bottom: 2rem;
  text-align: center;
}
.form-text textarea {
  resize: none;
  height: 6rem;
}
.form-text input {
  height: 2rem;
}
.form-text input, .form-text textarea {
  width: 80%;
  border-radius: 1rem;
  border: none;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-family: "Quicksand", sans-serif;
}

input:focus, textarea:focus {
  outline: #db792e 2px solid;
}

button[type=submit] {
  font-size: 1.2rem;
  background-color: #db792e;
  color: white;
  min-width: 100px;
  position: absolute;
  top: calc((100vh - 40px) / 2);
  right: 10vw;
}

.error {
  background-color: #db792e;
  border-radius: 50px;
  color: white;
  font-size: 1.5rem;
  margin-top: 1rem;
  padding: 0.5rem;
  position: absolute;
  top: calc((100vh - 400px) / 4);
  left: 25vw;
  width: 50vw;
  min-width: 250px;
  text-align: center;
}

.hidden {
  visibility: hidden;
}

.progress-circles-div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  position: absolute;
  left: calc((100vw - 180px) / 2);
  bottom: calc((100vh - 400px) / 4);
}
.progress-circles-div .progress-circle {
  transition-duration: 0.5s;
  height: 20px;
  width: 20px;
  border: 3px solid #555561;
  padding: 5px;
  border-radius: 50%;
  margin: 5px;
}
.progress-circles-div .filled {
  background-color: #555561;
}

.profile-content-wrapper {
  margin-left: 30vw;
  box-sizing: border-box;
  padding: 0;
}

.profile-block {
  background: white;
  padding: 20px;
  border-radius: 20px;
  margin: 1rem 4rem 1.2rem 4rem;
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.055);
}
.profile-block h3 {
  margin-top: 0;
}

.file_upload {
  display: flex;
  flex-flow: column nowrap;
}

.download-badge {
  display: flex;
  align-items: center;
  max-width: 400px;
  background-color: #ecf0f1;
  border-radius: 40px;
  color: #ecf0f1;
  font-size: 1.2rem;
  text-decoration: none;
  color: #3c5e5d;
}
.download-badge .icon-wrapper {
  background-color: #3c5e5d;
  border-radius: 50%;
  margin-right: 20px;
}
.download-badge img {
  width: 70px;
  height: 70px;
  padding: 15px;
}

.header {
  width: 30vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #6ab8af;
  color: white;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.header #logo-div {
  border-radius: 50%;
  min-height: 160px;
  min-width: 160px;
  margin: 40px;
}
.header #logo-div img {
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.3);
}
.header h1 {
  font-size: 4rem;
}
.header h2,
.header h1 {
  word-wrap: break-word;
  max-width: 28vw;
}

.profile-links li {
  padding: 10px;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  transition: all 0.2s ease-in-out;
}

.profile-links > li:hover {
  cursor: pointer;
  color: #555561;
  border-radius: 2rem;
  box-shadow: inset 0 0 0 2px #3c5e5d;
}

.contact {
  display: inline-block;
}
.contact .label-text {
  text-transform: uppercase;
  color: #555561;
  font-size: 0.75rem;
}

.link-component {
  text-decoration: none;
  max-width: 28vw;
}

#add-content-btn {
  background: #555561;
  color: white;
  border: 2px solid white;
  font-size: 1rem;
  padding: 5px 15px 5px 5px;
  display: block;
  border-radius: 20px;
  font-family: "Quicksand", sans-serif;
  display: flex;
  align-items: center;
  width: 100%;
  box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.015);
}
#add-content-btn img {
  margin-right: 20px;
  height: 2rem;
}
#add-content-btn:hover {
  color: #6ab8af;
  font-weight: 500;
}

.category {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.category p {
  line-height: 1.3rem;
}

.category > h2 {
  background: #6ab8af;
  width: 50%;
  border-radius: 0 2rem 2rem 0;
  padding: 0.5rem;
  color: white;
  margin-bottom: 2rem;
}

img {
  max-width: 100%;
}

.landing-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

.logo-div {
  border: #555561 solid 2px;
  margin-bottom: 2rem;
  height: 150px;
}
.logo-div img {
  height: 100%;
}

.landing-text {
  margin-bottom: 4rem;
}

.large-home-btn1,
.large-home-btn2 {
  margin: 0.5rem;
  margin-top: 1rem;
  width: 360px;
  box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.015);
  cursor: pointer;
}

.large-home-btn1 {
  background: #6ab8af;
  color: black;
  transition: transform 0.2s ease;
}
.large-home-btn1:hover {
  box-shadow: inset 0 0 0 2px #3c5e5d;
}

.large-home-btn2 {
  background: #3c5e5d;
  color: white;
  transition: transform 0.2s ease;
}
.large-home-btn2:hover {
  box-shadow: inset 0 0 0 2px #6ab8af;
}

.intro-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.intro-content p {
  padding: 4rem;
  padding-top: 6rem;
  width: 60%;
  font-size: 1.2rem;
}

.heading-banner {
  background-color: #555561;
  width: 100%;
}
.heading-banner h1 {
  color: #ecf0f1;
  margin-top: 6rem;
  margin-bottom: 2rem;
}

.back-btn {
  width: 70px;
  height: 70px;
  background-color: transparent;
  border: none;
  padding: 8px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.back-btn:hover {
  transform: scale(1.1);
}

.discover-header {
  background-color: #555561;
  width: 100%;
  padding-top: 4rem;
  padding-bottom: 2rem;
  color: #ecf0f1;
  text-align: center;
}
.discover-header h1 {
  margin-top: 0;
  margin-bottom: 2rem;
}

.company-container {
  display: flex;
  width: 100%;
  padding: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.company-block {
  width: 25vw;
  min-width: 250px;
  margin: 1rem;
  padding: 2rem 1rem 1rem;
  background: white;
  transition: transform ease 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 1rem;
  height: 250px;
  border: dotted #6ab8af 3px;
}

.company-block:hover {
  transform: scale(1.05);
}

.profile-link {
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 1rem;
  max-width: 60%;
  align-self: center;
  background: #6ab8af;
  padding: 0.5rem;
  padding-top: 10px;
  border-radius: 1rem;
}

.profile-link:after {
  content: "";
  position: absolutel;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: #ecf0f1;
  transition: width 0.4s ease;
}

.profile-link:hover:after {
  width: 100%;
  left: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  font-size: medium;
  color: #1d2425;
  background-color: #ecf0f1;
  padding: 0.5rem;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 6rem;
  font-weight: 100;
  margin-bottom: 1rem;
  text-align: center;
}

h2 {
  font-family: "Quicksand", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

h3 {
  font-family: "Quicksand", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

p {
  font-family: "Quicksand", sans-serif;
  margin-bottom: 0.5rem;
}

#home-btn {
  width: 70px;
  background-color: transparent;
  border: none;
  padding: 8px;
  position: fixed;
  z-index: 2;
  cursor: pointer;
  transition: transform 0.2s ease;
}
#home-btn:hover {
  transform: scale(1.1);
}

.default-btn {
  font-family: "Quicksand", sans-serif;
  border-radius: 50px;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  min-width: 200px;
}

/*# sourceMappingURL=main.css.map */
