@import url("https://fonts.googleapis.com/css?family=K2D:100,200,300,400,500,600,700,800|Quicksand:300,400,500,700|Roboto:100,100i,300,400,500,700,900");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#profile-wrapper {
  width: 80%;
  margin: 0 auto;
}

.profile-block {
  background: white;
  padding: 20px;
  border-radius: 20px;
  margin: 5px;
  box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.015);
}

.text-block {
  width: 70%;
}

.profile-block h3 {
  margin-top: 0;
}

.header {
  display: flex;
  flex-flow: row nowrap;
}
.header #logo-div {
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.3);
  height: 216px;
  width: 216px;
  margin: 0 40px;
  box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.015);
}
.header .info-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
.header h1 {
  text-align: left;
}

.contact {
  width: 30%;
}
.contact .label-text {
  text-transform: uppercase;
  color: #555561;
  font-size: 0.75rem;
}

.link-component {
  text-decoration: none;
}

#add-content-btn {
  background: #555561;
  color: white;
  border: 4px solid white;
  font-size: 1.5rem;
  padding: 10px 20px;
  display: block;
  border-radius: 20px;
  font-family: "Quicksand", sans-serif;
  display: flex;
  align-items: center;
  width: 70%;
  box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.015);
}
#add-content-btn img {
  margin-right: 20px;
}

body {
  font-family: "Quicksand", sans-serif;
  font-size: medium;
  color: #1d2425;
  background-color: #ecf0f1;
  padding: 0.5rem;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 6rem;
  font-weight: 100;
  margin-bottom: 1rem;
  text-align: center;
}

h2 {
  font-family: "Quicksand", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

h3 {
  font-family: "Quicksand", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

p {
  font-family: "Quicksand", sans-serif;
  margin-bottom: 0.5rem;
}

#home-btn {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  padding: 5px;
}

/*# sourceMappingURL=main.css.map */
