@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=K2D:100,200,300,400,500,600,700,800|Quicksand:300,400,500,700|Roboto:100,100i,300,400,500,700,900");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  overflow-x: hidden;
}

.form-div {
  width: 50vw;
  min-width: 250px;
  height: 400px;
  position: absolute;
  top: calc((100vh - 400px) / 2);
  border-radius: 2rem;
  box-shadow: 0px 4px 8px gray;
  border: 4px #3c5e5d solid;
  padding: 1rem;
  box-sizing: border-box;
}

.outer-left {
  background-color: #6ab8af;
  transform: translateX(-100vw) scale(0.3);
  transition-duration: 1s;
  visibility: hidden;
}

.left {
  background-color: #6ab8af;
  transition-duration: 0.5s;
  transform: translateX(-25vw) scale(0.8);
  opacity: 0.5;
}

.focus {
  background-color: #6ab8af;
  transition-duration: 0.5s;
  transform: translateX(25vw);
  z-index: 2;
}

.right {
  background-color: #6ab8af;
  transition-duration: 0.5s;
  transform: translateX(75vw) scale(0.8);
  opacity: 0.5;
}

.outer-right {
  background-color: #6ab8af;
  transform: translateX(125vw);
  transition-duration: 1s;
  visibility: hidden;
}

.arrow {
  width: 50px;
  position: absolute;
  top: calc((100vh - 50px) / 2);
  z-index: 10;
}

.back-arrow {
  left: 15vw;
}

.forward-arrow {
  right: 15vw;
}

#form {
  display: flex;
  align-items: center;
}

.form-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.form-text label {
  margin-bottom: 2rem;
  text-align: center;
}
.form-text textarea {
  resize: none;
  height: 6rem;
}
.form-text input {
  height: 2rem;
}
.form-text input, .form-text textarea {
  width: 80%;
  border-radius: 1rem;
  border: none;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-family: "Quicksand", sans-serif;
}

input:focus, textarea:focus {
  outline: #db792e 2px solid;
}

#carousel-submit-btn {
  font-size: 1.2rem;
  background-color: #db792e;
  color: white;
  min-width: 100px;
  position: absolute;
  top: calc((100vh - 40px) / 2);
  right: 10vw;
}

.error {
  background-color: #db792e;
  border-radius: 50px;
  color: white;
  font-size: 1.5rem;
  margin-top: 1rem;
  padding: 0.5rem;
  position: absolute;
  top: calc((100vh - 400px) / 4);
  left: 25vw;
  width: 50vw;
  min-width: 250px;
  text-align: center;
}

.hidden {
  visibility: hidden;
}

.progress-circles-div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  position: absolute;
  left: calc((100vw - 180px) / 2);
  bottom: calc((100vh - 400px) / 4);
}
.progress-circles-div .progress-circle {
  transition-duration: 0.5s;
  height: 20px;
  width: 20px;
  border: 3px solid #555561;
  padding: 5px;
  border-radius: 50%;
  margin: 5px;
}
.progress-circles-div .filled {
  background-color: #555561;
}

.header {
  width: 30vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #6ab8af;
  color: white;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
}
.header #logo-div {
  border-radius: 50%;
  width: 60%;
  margin: 1rem;
}
.header #logo-div img {
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.3);
}
.header h1 {
  font-size: 4rem;
  margin-top: 2rem;
}
.header h2,
.header h1 {
  word-wrap: break-word;
  max-width: 28vw;
}
.header #comp-link {
  font-size: 1.2rem;
  margin: 0;
}
.header a {
  text-decoration: none;
  color: white;
}
.header a:hover {
  color: #3c5e5d;
}

.profile-links li {
  padding: 10px;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  transition: all 0.2s ease-in-out;
}

.profile-links > li:hover {
  cursor: pointer;
  color: #555561;
  border-radius: 2rem;
  box-shadow: inset 0 0 0 2px #3c5e5d;
}

.link-component {
  text-decoration: none;
  max-width: 28vw;
}

#add-content-btn {
  background: #555561;
  color: white;
  border: 2px solid white;
  font-size: 1rem;
  padding: 5px 15px 5px 5px;
  display: block;
  border-radius: 20px;
  font-family: "Quicksand", sans-serif;
  display: flex;
  align-items: center;
  width: 100%;
  box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.015);
}
#add-content-btn img {
  margin-right: 20px;
  height: 2rem;
}
#add-content-btn:hover {
  color: #6ab8af;
  font-weight: 500;
}

.profile-content-wrapper {
  margin-left: 30vw;
  box-sizing: border-box;
  padding: 0;
}

.category {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.category p {
  line-height: 1.3rem;
}

.contact.category {
  min-height: 20vh;
}
.contact .label-text {
  font-weight: 400;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #555561;
  margin: 1.2rem 0 0 0;
}
.label-text:first-child {
  margin: 0;
}

.vert-center > h2 {
  background: #6ab8af;
  width: 50%;
  border-radius: 0 2rem 2rem 0;
  padding: 0.5rem;
  color: white;
  margin-bottom: 2rem;
}

.profile-block {
  background: white;
  padding: 20px;
  border-radius: 20px;
  margin: 1rem 4rem 1.2rem 4rem;
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.055);
  display: inline-block;
  min-width: 60%;
  margin-bottom: 0;
}
.profile-block h3 {
  margin-top: 0;
}

.star-badge {
  display: inline-flex;
  align-items: center;
  width: auto;
  margin-bottom: 0;
  border: 2px solid #6ab8af;
}
.star-badge h3 {
  margin: 0;
  font-size: 1.2rem;
  margin-right: 8px;
}
.star-badge img {
  height: 2rem;
  width: 2rem;
  margin-right: 10px;
}

.file_upload {
  display: inline-flex;
  flex-flow: column nowrap;
}

.download-badge {
  display: inline-flex;
  align-items: center;
  background-color: #ecf0f1;
  border-radius: 40px;
  color: #ecf0f1;
  font-size: 1.2rem;
  text-decoration: none;
  color: #3c5e5d;
  padding-right: 30px;
}
.download-badge .icon-wrapper {
  background-color: #3c5e5d;
  border-radius: 50%;
  margin-right: 20px;
}
.download-badge img {
  width: 70px;
  height: 70px;
  padding: 15px;
}

.tagged-list ul {
  display: flex;
}
.tagged-list .tag {
  margin: 5px;
  background: #3c5e5d;
  padding: 10px;
  color: #ecf0f1;
  border-radius: 5px;
}

.link-list #eye-icon {
  width: 30px;
  height: 30px;
  margin: 6px;
  border-radius: 50%;
}
.link-list #links {
  display: flex;
  align-items: center;
  border-radius: 20px;
  margin: 0.25rem;
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.055);
  cursor: pointer;
  transition: transform 0.2s ease;
}
.link-list #links p {
  margin: 0;
}
.link-list #links a {
  color: #1d2425;
  text-decoration: none;
}
.link-list #links:hover, .link-list #links:focus {
  transform: scale(1.025);
}
.link-list #links:hover a, .link-list #links:focus a {
  color: #db792e;
}

img {
  max-width: 100%;
}

.landing-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

.logo-div {
  border: #555561 solid 2px;
  margin-bottom: 2rem;
  height: 150px;
}
.logo-div img {
  height: 100%;
}

.landing-text {
  margin-bottom: 4rem;
}

.large-home-btn1,
.large-home-btn2 {
  margin: 0.5rem;
  margin-top: 1rem;
  width: 360px;
  box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.015);
  cursor: pointer;
}

.large-home-btn1 {
  background: #6ab8af;
  color: black;
  transition: transform 0.2s ease;
}
.large-home-btn1:hover {
  box-shadow: inset 0 0 0 2px #3c5e5d;
}

.large-home-btn2 {
  background: #3c5e5d;
  color: white;
  transition: transform 0.2s ease;
}
.large-home-btn2:hover {
  box-shadow: inset 0 0 0 2px #6ab8af;
}

.intro-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.intro-content p {
  padding: 4rem;
  padding-top: 6rem;
  width: 60%;
  font-size: 1.2rem;
}

.heading-banner {
  background-color: #555561;
  width: 100%;
}
.heading-banner h1 {
  color: #ecf0f1;
  margin-top: 6rem;
  margin-bottom: 2rem;
}

.back-btn {
  width: 60px;
  height: 70px;
  background-color: transparent;
  border: none;
  padding: 6px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.back-btn:hover {
  transform: scale(1.1);
}

#log-in {
  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
  min-width: 150px;
  width: auto;
  background-color: #db792e;
}

.discover-header {
  background-color: #555561;
  width: 100%;
  padding-top: 4rem;
  padding-bottom: 2rem;
  color: #ecf0f1;
  text-align: center;
}
.discover-header h1 {
  margin-top: 0;
  margin-bottom: 2rem;
}

.company-container {
  display: flex;
  width: 100%;
  padding: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.company-block {
  width: 25vw;
  min-width: 250px;
  margin: 1rem;
  padding: 2rem 1rem 1rem;
  background: white;
  transition: transform ease 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 1rem;
  height: 250px;
  border: dotted #6ab8af 3px;
}

.company-block:hover {
  transform: scale(1.05);
}

.profile-link {
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 1rem;
  max-width: 60%;
  align-self: center;
  background: #6ab8af;
  padding: 0.5rem;
  padding-top: 10px;
  border-radius: 1rem;
}

.profile-link:after {
  content: "";
  position: absolutel;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: #ecf0f1;
  transition: width 0.4s ease;
}

.profile-link:hover:after {
  width: 100%;
  left: 0;
}

.edit-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 150px;
}
.edit-page-container #back-btn {
  position: fixed;
  top: 0;
  left: 0;
}
.edit-page-container #help-btn {
  position: fixed;
  top: 0;
  right: 0;
  transition: transform 0.2s ease;
}
.edit-page-container #help-btn:hover:after {
  content: "Help";
}

#edit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 4rem;
}
#edit-form fieldset {
  width: 100%;
  margin-bottom: 1rem;
  font-family: "Quicksand", sans-serif;
}
#edit-form fieldset label,
#edit-form fieldset input {
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  padding: 0.25rem;
  margin: 0.25rem;
}
#edit-form fieldset input[type=text],
#edit-form fieldset input[type=url],
#edit-form fieldset input[type=file] {
  border-radius: 5px;
  border: 1px solid #3c5e5d;
}
#edit-form fieldset textarea {
  border-radius: 5px;
  border: 1px solid #3c5e5d;
  max-height: 8rem;
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  padding: 0.25rem;
  margin: 0.25rem;
}
#edit-form fieldset h4 {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.cat-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#toggle-button {
  justify-self: flex-end;
  border: none;
  background: none;
  cursor: pointer;
  transition: transform 0.2s ease;
}

#toggle-button:hover {
  transform: scale(1.1);
}

#toggle-button:focus {
  outline: none;
}

.q-category {
  padding: 1rem;
  width: 90vw;
  border-bottom: 2px #6ab8af solid;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  max-height: 100px;
}
.q-category h2 {
  margin-bottom: 2rem;
}

#basic-info-section {
  width: 90vw;
}
#basic-info-section h4 {
  margin: 1rem;
}
#basic-info-section #basic-first {
  margin-top: 0;
}
#basic-info-section input {
  min-width: 60%;
}
#basic-info-section textarea {
  min-width: 60%;
}

.q-category.expand {
  max-height: 2000px;
}

.text-input-section textarea {
  width: calc(100% - 0.5rem);
}

.dropdown-section h5 {
  font-weight: 500;
  margin-bottom: 0.25rem;
}
.dropdown-section .dropdown-selected {
  display: flex;
  flex-wrap: wrap;
}
.dropdown-section .dropdown-selected li {
  padding: 0.5rem;
  background-color: #6ab8af;
  color: white;
  margin: 0.25rem;
  border-radius: 5px;
}
.dropdown-section .dropdown-selected li::after {
  content: " ✕";
}
.dropdown-section .dropdown-btn {
  background-color: #3c5e5d;
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  color: white;
  padding: 0.25rem;
  width: 16rem;
  border-radius: 5px;
  margin-bottom: 0.25rem;
}
.dropdown-section .dropdown:hover .select-items {
  display: block;
}
.dropdown-section .select-items {
  display: none;
  position: absolute;
  background-color: #6ab8af;
  width: 16rem;
  max-height: 60vh;
  overflow-y: scroll;
}
.dropdown-section .dropdown {
  width: 16rem;
}
.dropdown-section .dropdown ul {
  border-radius: 5px;
}
.dropdown-section .dropdown li {
  width: 16rem;
  padding: 0.5rem;
  background-color: white;
}
.dropdown-section .dropdown li:hover {
  background-color: #db792e;
}

.video-add input {
  min-width: 60%;
}

.link-section label {
  padding: 0.25rem;
  margin: 0.25rem;
}
.link-section input[type=text],
.link-section input[type=url] {
  min-width: 30%;
}
.link-section h5 {
  font-weight: 500;
  margin-top: 1rem;
}
.link-section #add-link-list {
  margin: 0.5rem 0 1rem 0;
}
.link-section #add-link-list li {
  padding: 0.25rem;
}
.link-section #add-link-btn {
  padding: 0.25rem 0.5rem;
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  border-radius: 50px;
  border: 1px solid #555561;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.link-section #add-link-btn:hover {
  transform: scale(1.1);
}

#add-submit-btn {
  position: fixed;
  top: 0;
  padding: 0.5rem 1.2rem 0.5rem 1.2rem;
  font-family: "Quicksand", sans-serif;
  font-size: 1.2rem;
  margin: 0.5rem;
  border-radius: 50px;
  background-color: #db792e;
  cursor: pointer;
  transition: transform 0.2s ease;
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.055);
}
#add-submit-btn:hover {
  transform: scale(1.1);
  border: 1px solid #db792e;
  color: white;
}

.save-success {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.save-success .success-header {
  padding: 1.2rem;
  background-color: #3c5e5d;
  color: #ecf0f1;
  border-radius: 5px;
  border: 1px solid #3c5e5d;
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.055);
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-hilary {
  position: fixed;
  max-width: 900px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 90%;
  border-radius: 5px;
  box-shadow: 0 5px 100px 0 rgba(0, 0, 0, 0.4);
}
.contact-hilary .heading-banner-contact {
  background: #555561;
  color: white;
  border-radius: 5px 5px 0 0;
}
.contact-hilary .heading-banner-contact h1 {
  border-radius: 5px;
  padding: 50px 0;
  margin: 0;
}
.contact-hilary > p {
  padding: 40px 10vw 20px;
  margin: 0;
}
.contact-hilary #sleuth-info {
  display: flex;
  padding: 0 10vw 40px;
}
.contact-hilary #sleuth-info .contact-section,
.contact-hilary #sleuth-info .sleuth-link-section {
  width: 50%;
  height: 50%;
}
.contact-hilary #sleuth-info .contact-section h4 {
  margin: 8px 0;
  font-size: 1.2rem;
}
.contact-hilary #sleuth-info .sleuth-link-section {
  transition: transform 0.2s ease;
}
.contact-hilary #sleuth-info .sleuth-link-section a {
  font-family: "Quicksand", sans-serif;
  font-size: 1.2rem;
  color: #1d2425;
  cursor: pointer;
  text-decoration: none;
}
.contact-hilary #sleuth-info .sleuth-link-section a:hover, .contact-hilary #sleuth-info .sleuth-link-section a:focus {
  color: #db792e;
}
.contact-hilary #sleuth-info .sleuth-link-section a:active {
  color: #3c5e5d;
}
.contact-hilary #sleuth-info .sleuth-link-section .sleuth-profile-links {
  margin-top: 1rem;
}
.contact-hilary #sleuth-info .sleuth-link-section .sleuth-profile-links img {
  margin-right: 1rem;
  transition: transform 0.2s ease;
}
.contact-hilary #sleuth-info .sleuth-link-section .sleuth-profile-links img:hover {
  transform: scale(1.1);
}

#login-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
}
#login-form label {
  margin-top: 1rem;
  text-align: center;
}
#login-form input {
  min-width: 18rem;
  max-width: 500px;
  width: 40%;
  border-radius: 1rem;
  border: 0.25rem solid #3c5e5d;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-family: "Quicksand", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  font-size: medium;
  color: #1d2425;
  background-color: #ecf0f1;
  padding: 0.5rem;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 6rem;
  font-weight: 100;
  margin-bottom: 1rem;
  text-align: center;
}

h2 {
  font-family: "Quicksand", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

h3 {
  font-family: "Quicksand", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

p {
  font-family: "Quicksand", sans-serif;
  margin-bottom: 0.5rem;
}

#home-btn,
#back-btn,
#help-btn {
  width: 60px;
  background-color: transparent;
  border: none;
  padding: 6px;
  position: fixed;
  z-index: 2;
  cursor: pointer;
  transition: transform 0.2s ease;
}
#home-btn:hover,
#back-btn:hover,
#help-btn:hover {
  transform: scale(1.1);
}

.default-btn {
  font-family: "Quicksand", sans-serif;
  border-radius: 50px;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  min-width: 200px;
}

/*# sourceMappingURL=main.css.map */
